@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
	/* (Dark Mode Elements) */
	--DarkBlue: hsl(209, 23%, 22%);
	/* (Dark Mode Background) */
	--VeryDarkBlue: hsl(207, 26%, 17%);
	/* (Light Mode Text) */
	--VeryDarkBlueLight: hsl(200, 15%, 8%);
	/* (Light Mode Input) */
	--DarkGray: hsl(0, 0%, 52%);
	/* (Light Mode Background) */
	--VeryLightGray: hsl(0, 0%, 98%);
	/* (Dark Mode Text & Light Mode Elements) */
	--White: hsl(0, 0%, 100%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-width: 100vw;
	min-height: 100vh;
	font-family: 'Nunito Sans', sans-serif;
	color: var(--White);
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5%;
	height: 10vh;
	background-color: var(--DarkBlue);
}

.theme {
	background: none;
	border: none;
	font-weight: 700;
	font-size: 1.1rem;
}

main {
	background-color: var(--VeryDarkBlue);
	flex: 1;
	min-height: 90vh;
	padding: 0 5%;
}

button {
	color: var(--White);
}

button:hover {
	cursor: pointer;
}

ul {
	list-style: none;
}
.country-filter {
	display: flex;
	justify-content: space-between;
	padding: 2rem 0;
}

.container {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.filter {
	display: none;
	flex-direction: column;
	width: 200px;
	background-color: var(--DarkBlue);
	padding: 1rem;
	box-shadow: 0 0 2px 0 var(--DarkBlue);
	border-radius: 0.25rem;
}

.country-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.country-grid > * {
	margin: 1rem;
}

.container > button {
	background-color: var(--DarkBlue);
	margin: 0.25rem 0;
	padding: 1rem;
	box-shadow: 0 0 2px 0 var(--DarkBlue);
	border-radius: 0.25rem;
	border: none;
}

.filter button {
	background: transparent;
	border: none;
	text-align: left;
	margin: 0.25rem 0;
}

.search {
	height: fit-content;
	width: 400px;
}

.search input {
	background-color: var(--DarkBlue);
	color: var(--White);
	border: none;
	border-radius: 0.25rem;
	box-shadow: 0 0 2px 0 var(--DarkBlue);
	padding: 1rem 0.5rem;
	width: 100%;
	text-align: left;
}

.card {
	width: 225px;
	min-height: fit-content;
	height: 350px;
	background-color: var(--DarkBlue);
	box-shadow: 0 0 2px 0 var(--DarkBlue);
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
}

.card .flag {
	border-radius: 0.25rem 0.25rem 0 0;
	width: 100%;
	height: 150px;
	flex: 1;
}

.card .card-text {
	flex: 1;
	height: 150px;
}
.card img {
	border-radius: 0.25rem 0.25rem 0 0;
	width: 100%;
	height: auto;
	object-fit: contain;
}

.card h2 {
	/* margin-top: 0.5rem 0; */
	padding: 1rem;
	font-size: 1.5rem;
}

.card ul {
	list-style: none;
	font-size: 14px;
	padding: 0 1rem 1rem 1rem;
}

.detail-main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 5rem;
	font-size: 1rem;
}

.detail-main h2 {
	font-weight: 700;
}

.detail-main button {
	border: 1px solid var(--DarkBlue);
}

.detail-main button:hover {
	border: 1px solid white;
}

.back {
	background-color: var(--DarkBlue);
	border: none;
	width: 100px;
	padding: 0.5rem 1rem;
	box-shadow: 0 0 5px 0 var(--VeryDarkBlueLight);
	border-radius: 0.25rem;
}

.detail {
	display: flex;
	justify-content: center;
	height: 50vh;
}
.detail-img {
	margin-right: 5rem;
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail img {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.detail-text {
	flex: 1;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.detail-text .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	font-weight: 600;
}

.detail .border {
	display: flex;
}

.border p {
	margin-right: 1rem;
	font-weight: 600;
}

.detail button {
	background-color: var(--DarkBlue);
	margin: 0 0.5rem;
	padding: 0.25rem 1rem;
	box-shadow: 0 0 5px 0 var(--VeryDarkBlueLight);
	border-radius: 0.25rem;
}
